In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://kqj46296:whz0g%2Bm3h3wv7vtd@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB

'Connected: kqj46296@BLUDB'

### Problem-1

In [6]:
%sql SELECT COUNT(*) FROM CENSUS_DATA

 * ibm_db_sa://kqj46296:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('78'),)]

In [7]:
%sql SELECT COUNT(*) FROM CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://kqj46296:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('566'),)]

In [8]:
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA

 * ibm_db_sa://kqj46296:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

### Problem-2

In [30]:
%sql SELECT "Community_Area_Name", AVG("College_Enrollment__number_of_students_") FROM CHICAGO_PUBLIC_SCHOOLS GROUP BY "Community_Area_Name"

 * ibm_db_sa://kqj46296:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('ALBANY PARK', Decimal('858.000000')),
 ('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('ARMOUR SQUARE', Decimal('486.000000')),
 ('ASHBURN', Decimal('810.375000')),
 ('AUBURN GRESHAM', Decimal('417.500000')),
 ('AUSTIN', Decimal('475.347826')),
 ('AVALON PARK', Decimal('507.333333')),
 ('AVONDALE', Decimal('910.000000')),
 ('BELMONT CRAGIN', Decimal('1198.833333')),
 ('BEVERLY', Decimal('409.000000')),
 ('BRIDGEPORT', Decimal('633.400000')),
 ('BRIGHTON PARK', Decimal('1205.875000')),
 ('BURNSIDE', Decimal('549.000000')),
 ('CALUMET HEIGHTS', Decimal('261.333333')),
 ('CHATHAM', Decimal('560.222222')),
 ('CHICAGO LAWN', Decimal('1012.285714')),
 ('CLEARING', Decimal('521.250000')),
 ('DOUGLAS', Decimal('424.545454')),
 ('DUNNING', Decimal('761.333333')),
 ('EAST GARFIELD PARK', Decimal('410.538461')),
 ('EAST SIDE', Decimal('1061.000000')),
 ('EDGEWATER', Decimal('766.666666')),
 ('EDISON PARK', Decimal('455.000000')),
 ('ENGLEWOOD', Decimal('401.882352')),
 ('FOREST GLEN', Decimal('477.000000')),
 ('FULLER PARK', Decimal('265.500000')),
 ('GAGE PARK', Decimal('991.500000')),
 ('GARFIELD RIDGE', Decimal('910.400000')),
 ('GRAND BOULEVARD', Decimal('351.125000')),
 ('GREATER GRAND CROSSING', Decimal('405.100000')),
 ('HEGEWISCH', Decimal('481.500000')),
 ('HERMOSA', Decimal('993.750000')),
 ('HUMBOLDT PARK', Decimal('663.076923')),
 ('HYDE PARK', Decimal('482.500000')),
 ('IRVING PARK', Decimal('862.666666')),
 ('JEFFERSON PARK', Decimal('877.500000')),
 ('KENWOOD', Decimal('612.428571')),
 ('LAKE VIEW', Decimal('641.363636')),
 ('LINCOLN PARK', Decimal('802.142857')),
 ('LINCOLN SQUARE', Decimal('826.400000')),
 ('LOGAN SQUARE', Decimal('668.272727')),
 ('LOOP', Decimal('871.000000')),
 ('LOWER WEST SIDE', Decimal('659.727272')),
 ('MCKINLEY PARK', Decimal('388.000000')),
 ('MONTCLARE', Decimal('1317.000000')),
 ('MORGAN PARK', Decimal('654.200000')),
 ('MOUNT GREENWOOD', Decimal('522.750000')),
 ('NEAR NORTH SIDE', Decimal('480.285714')),
 ('NEAR SOUTH SIDE', Decimal('459.333333')),
 ('NEAR WEST SIDE', Decimal('498.437500')),
 ('NEW CITY', Decimal('609.384615')),
 ('NORTH CENTER', Decimal('1077.285714')),
 ('NORTH LAWNDALE', Decimal('321.625000')),
 ('NORTH PARK', Decimal('842.000000')),
 ('NORWOOD PARK', Decimal('808.625000')),
 ('OAKLAND', Decimal('140.000000')),
 ('OHARE', Decimal('786.000000')),
 ('PORTAGE PARK', Decimal('993.428571')),
 ('PULLMAN', Decimal('324.000000')),
 ('RIVERDALE', Decimal('386.750000')),
 ('ROGERS PARK', Decimal('678.000000')),
 ('ROSELAND', Decimal('540.000000')),
 ('SOUTH CHICAGO', Decimal('577.571428')),
 ('SOUTH DEERING', Decimal('464.750000')),
 ('SOUTH LAWNDALE', Decimal('672.409090')),
 ('SOUTH SHORE', Decimal('504.777777')),
 ('UPTOWN', Decimal('626.857142')),
 ('WASHINGTON HEIGHTS', Decimal('445.111111')),
 ('WASHINGTON PARK', Decimal('529.600000')),
 ('WEST ELSDON', Decimal('1233.333333')),
 ('WEST ENGLEWOOD', Decimal('457.384615')),
 ('WEST GARFIELD PARK', Decimal('327.750000')),
 ('WEST LAWN', Decimal('1051.750000')),
 ('WEST PULLMAN', Decimal('324.000000')),
 ('WEST RIDGE', Decimal('910.777777')),
 ('WEST TOWN', Decimal('471.450000')),
 ('WOODLAWN', Decimal('525.750000'))]

### Problem-3

In [33]:
%sql SELECT COUNT(*) FROM CHICAGO_PUBLIC_SCHOOLS WHERE "Healthy_Schools_Certified_"='Yes';

 * ibm_db_sa://kqj46296:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('16'),)]

### Problem-4

In [35]:
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA WHERE "Location_Description" = 'GAS STATION';

 * ibm_db_sa://kqj46296:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('6'),)]

### Problem-5

In [37]:
%%sql
SELECT "Community_Area_Name", COUNT("School_ID") FROM CHICAGO_PUBLIC_SCHOOLS GROUP BY "Community_Area_Name" ORDER BY 2 DESC LIMIT 10;

 * ibm_db_sa://kqj46296:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('AUSTIN', Decimal('23')),
 ('SOUTH LAWNDALE', Decimal('22')),
 ('WEST TOWN', Decimal('20')),
 ('ENGLEWOOD', Decimal('17')),
 ('NEAR WEST SIDE', Decimal('16')),
 ('NORTH LAWNDALE', Decimal('16')),
 ('EAST GARFIELD PARK', Decimal('13')),
 ('ROSELAND', Decimal('13')),
 ('NEW CITY', Decimal('13')),
 ('HUMBOLDT PARK', Decimal('13'))]

### Problem-6

In [40]:
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA WHERE "Primary_Type" = 'MOTOR VEHICLE THEFT';

 * ibm_db_sa://kqj46296:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('24'),)]

### Promblem-7

In [42]:
%%sql
SELECT C.COMMUNITY_AREA_NAME, MIN("Average_Student_Attendance") 
FROM CENSUS_DATA AS C INNER JOIN CHICAGO_PUBLIC_SCHOOLS AS S ON 'Community_Area_Number' = 'Community_Area_Number' 
WHERE C.HARDSHIP_INDEX = 96 GROUP BY C.COMMUNITY_AREA_NAME;

 * ibm_db_sa://kqj46296:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('South Lawndale', '57.9%')]