## Task 1: Import the `ibm_db` Python library

In [1]:
import ibm_db

## Task 2: Identify the database connection credentials

In [2]:
dsn_driver = "IBM DB2 ODBC DRIVER"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_hostname = "dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net" # e.g.: "awh-yp-small03.services.dal.bluemix.net"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_uid = "kqj46296"        # e.g. "dash104434"
dsn_pwd = "whz0g+m3h3wv7vtd"       # e.g. "7dBZ3wWt9XN6$o0JiX!m"

## Task 3: Create the database connection

In [3]:
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected!")
except:
    print ("Unable to connect to database")

Connected!

## Task 4: Create a table in the database

In [4]:
#Lets first drop the table INSTRUCTOR in case it exists from a previous attempt
dropQuery = "drop table INSTRUCTOR"

#Now execute the drop statment
dropStmt = ibm_db.exec_immediate(conn, dropQuery)

In [6]:
#Construct the Create Table DDL statement - replace the ... with rest of the statement
createQuery = '''create table INSTRUCTOR(id INTEGER PRIMARY KEY NOT NULL, 
                                         fname VARCHAR(20) NOT NULL,
                                         lname VARCHAR(20) NOT NULL,
                                         city VARCHAR(20) NOT NULL,
                                         ccode CHAR(2) NOT NULL
                                        )'''

#Now fill in the name of the method and execute the statement
createStmt = ibm_db.exec_immediate(conn, createQuery)

## Task 5: Insert data into the table

In [8]:
#Construct the query - replace ... with the insert statement
insertQuery = '''INSERT INTO INSTRUCTOR (id, fname, lname, city, ccode) 
                                VALUES (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')'''

#execute the insert statement
insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [9]:
#replace ... with the insert statement that inerts the remaining two rows of data
insertQuery2 = '''INSERT INTO INSTRUCTOR (id, fname, lname, city, ccode) 
                                VALUES (2, 'Raul', 'Chong', 'Markham', 'CA')'''

#execute the statement
insertStmt2 = ibm_db.exec_immediate(conn, insertQuery2)

In [10]:
#replace ... with the insert statement that inerts the remaining two rows of data
insertQuery3 = '''INSERT INTO INSTRUCTOR (id, fname, lname, city, ccode) 
                                VALUES (3, 'Hima', 'Vasudevan', 'chicago', 'US')'''

#execute the statement
insertStmt2 = ibm_db.exec_immediate(conn, insertQuery3)

## Task 5.1: Update table in the database

In [11]:
#replace ... with the insert statement that inerts the remaining two rows of data
updateQuery = '''UPDATE INSTRUCTOR SET city = 'Chicago' WHERE fname = 'Hima' '''

#execute the statement
updateStmt = ibm_db.exec_immediate(conn, updateQuery)

## Task 6: Query data in the table

In [12]:
#Construct the query that retrieves all rows from the INSTRUCTOR table
selectQuery = "SELECT * FROM INSTRUCTOR"

#Execute the statement
selectStmt = ibm_db.exec_immediate(conn, selectQuery)

#Fetch the Dictionary (for the first row only) - replace ... with your code
#Fetch the rest of the rows and print the ID and FNAME for those rows
while ibm_db.fetch_row(selectStmt) != False:
   print (" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt, "FNAME"))

 ID: 1  FNAME: Rav
 ID: 2  FNAME: Raul
 ID: 3  FNAME: Hima

## Task 7: Retrieve data into Pandas

In [13]:
import pandas
import ibm_db_dbi

In [14]:
#connection for pandas
pconn = ibm_db_dbi.Connection(conn)

In [15]:
#query statement to retrieve all rows in INSTRUCTOR table
selectQuery = "SELECT * FROM INSTRUCTOR"

#retrieve the query results into a pandas dataframe
pdf = pandas.read_sql(selectQuery, pconn)

#print just the LNAME for first row in the pandas data frame
pdf.LNAME[0]

'Ahuja'

In [16]:
#print the entire data frame
pdf

   ID FNAME      LNAME     CITY CCODE
0   1   Rav      Ahuja  TORONTO    CA
1   2  Raul      Chong  Markham    CA
2   3  Hima  Vasudevan  Chicago    US

In [17]:
pdf.shape

(3, 5)

## Task 8: Close the Connection

In [18]:
ibm_db.close(conn)

True